.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2b5d6e;
  background-color: #dfdbdb;
}

.wrapper .login_wrapper {
  display: flex;
  flex-direction: row-reverse;
  max-width: 800px;
  width: 100%;
  max-height: 550px;
  height: 100%;
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.login_wrapper .image_wrapper {
  width: 50%;
}

.login_wrapper .image_wrapper img {
  width: 100%;
  height: 550px;
}

.login_wrapper .form_outer_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.wrapper .form_wrapper {
  width: 350px;
  height: 450px;
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  color: #2b5d6e;
  font-size: 26px;
}

.wrapper .form_wrapper h3 {
  margin: 15px 0px 10px 0px;
}

.form_wrapper .inner_form_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.signup_button {
  background-image: linear-gradient(160deg, #4999b1 0%, #021a22 100%);
  border: none;
  border-radius: 20px;
  padding: 10px 40px;
  color: rgb(204, 188, 188);
  margin-top: 10px;
  cursor: pointer;
}

.signup_button:hover {
  color: #ffffff;
}

.inner_form_wrapper input {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  padding: 6px 35px;
  text-align: center;
  border: 1px solid #3a6e80;
  color: #7e8ba3;
}

.inner_form_wrapper .usertype_wrapper{
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 5px;
  margin-top: 10px;
}

.usertype_wrapper p {
  margin-right: 15px;
}

.inner_form_wrapper input::placeholder {
  font-size: 14px;
  color: #56647e;
}

.inner_form_wrapper input:hover {
  border: 1px solid #3a6e80;
  box-shadow: 0 0 3px #3a6e80;
  outline-offset: 0px;
  outline: none;
}

.inner_form_wrapper input:focus {
  border: 1px solid #3a6e80;
  box-shadow: 0 0 3px #3a6e80;
  outline-offset: 0px;
  outline: none;
}

.inner_form_wrapper input:active {
  border: none;
  border: 1px solid #242c37;
}

.bottom_wrapper {
  margin-top: 20px;
}

.bottom_wrapper span {
  font-weight: 700;
}

.bottom_wrapper .link {
  text-decoration: none;
  color: #2b5d6e;
  margin-left: 8px;
}

.error {
  color: rgb(175, 57, 57);
}


/* media queries */
@media screen and (max-width: 768px) {
  .wrapper .login_wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: unset;
    height: unset;
  }
  .login_wrapper .image_wrapper {
    display: none;
  }
}
