.dashboard_wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

/* navbar */
.navbar_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  padding: 30px 30px;
  width: 100%;
  background: rgb(31, 110, 135);
  background: linear-gradient(
    90deg,
    rgba(31, 110, 135, 1) 0%,
    rgba(2, 34, 44, 1) 100%
  );
  margin-bottom: 100px;
}

.navbar_wrapper .logo_wrapper {
  display: flex;
  justify-content: flex-start;
  width: 20%;
}

.menuItem_wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.menuItem_wrapper .create_btn {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 6px 12px;
  border: none;
  color: #08546c;
}

.absolute_wrapper .absolute_create_btn {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 6px 12px;
  border: none;
  color: #08546c;
  margin-bottom: 20px;
}

.menuItem_wrapper .create_manager {
  text-decoration: none;
  color: #08546c;
}

.menuItem_wrapper .logout_btn {
  background-color: rgb(190, 44, 44);
  border-radius: 10px;
  padding: 6px 12px;
  border: none;
  color: #ffffff;
}

.humberg_button {
  display: none;
  position: relative;
  border: none;
}

.topbar,
.midbar,
.bottombar {
  position: absolute;
  border: 2px solid #ffffff;
  width: 40px;
  height: 4px;
  right: 10%;
  top: -10px;
  transition: all ease-in-out 0.3s;
}

.midbar {
  margin-top: 11px;
}

.bottombar {
  margin-top: 22px;
}

.topbarcross {
  position: absolute;
  border: 2px solid #ffffff;
  width: 40px;
  height: 4px;
  right: 10%;
  top: -10px;
  transition: all ease-in-out 1.5s;
  transform: rotate(-45deg) translate(-9px, 10px);
}

.midbarcross {
  display: none;
}

.bottombarcross {
  position: absolute;
  border: 2px solid #ffffff;
  width: 40px;
  height: 4px;
  right: 10%;
  top: -10px;
  margin-top: 22px;
  transition: all ease-in-out 1.5s;
  transform: rotate(45deg) translate(-5px, -6px);
}

.absolute_wrapper {
  display: none;
  transition: all ease-out 1.5s;
}

.absolute_wrapper_items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(31, 110, 135);
  background: linear-gradient(
    90deg,
    rgba(31, 110, 135, 1) 0%,
    rgba(2, 34, 44, 1) 100%
  );
  height: 100vh;
  transition: ease-in-out 1.3s;
}

.absolute_wrapper_items p {
  color: #ffffff;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
}

.thead {
  background-color: #08546c;
  color: #ffffff;
}

.dashboard_wrapper button {
  background-color: transparent;
  border: none;
  margin-right: 15px;
}

/* media queries */
@media screen and (max-width: 768px) {
  .humberg_button {
    display: block;
    z-index: 3;
    border: none;
  }

  .menuItem_wrapper .create_btn {
    display: none;
  }

  .menuItem_wrapper .logout_btn {
    display: none;
  }

  .absolute_wrapper {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    transition: ease-in 1s;
    z-index: 999;
    margin-top: 90px;
  }

  .navbar_wrapper .logo_wrapper {
    width: 15%;
  }
}
