* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}

.edit_icon {
  color: #08546c;
}

.dlt_icon {
  color: rgb(228, 61, 61);
}
