*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}

.edit-button {
  background-color: #3e7788;
  border: 1px solid #3e7788;
  padding: 3px 15px;
  border-radius: 5px;
  color: #fff;
}


.delete-button {
  background-color: rgb(228, 61, 61);
  border: 1px solid rgb(228, 61, 61);
  padding: 3px 15px;
  border-radius: 5px;
  color: #fff;
}